$margin-bottom-bg: 8rem;
$margin-bottom-sm: 3rem;

$margin-top-big: 6rem;
$margin-top-sm: 3rem;

$gutter-bg: 3rem;
$gutter-sm: 2rem;

$color-background: #f1faee;

$color-primary-1: #1d3557;
$color-primary-2: #457b9d;
$color-primary-3: #a8dadc;

$color-secondary-1: #FECE2F;

$color-accent: #e63946;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.8rem;

