@import "../src/utilities/variables.styles.scss";

.nav-container {
  background-color: $color-primary-2;
}

.nav-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.nav-links {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 1.5rem;
  color: $color-background;
}

